.apropos{
    max-width: 80vh;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 10vh;
}
img{
    margin-top: 5vh;
    opacity: .5;
    max-width: 360px;
    margin-right: 1vh;
	margin-left: 1vh;
	padding-bottom: 20vh;
}
@media screen and (max-width: 801px) {
	img {
	  padding-right: 10vh;
	  padding-left: 10vh;
	}
	
  }

p{
    font-size: 24px;
    text-transform: uppercase;
    justify-content: center;
}

.lines {
	max-width: 80vh;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 20vh;
    padding-top: 20vh;
}

.wrapper{
	top: 0;
}


span {
	--blur-r: 0.15em;
	--main-sat: 50%;
	--shadow-sat: 70%;

	--main-light: 90%;
	--main-shadow-light: 50%;
	--mid-shadow-light: 40%;
	--dark-shadow-light: 30%;

	--main-shadow-color: hsl(
		var(--hue),
		var(--shadow-sat),
		var(--main-shadow-light)
	);

	--mid-shadow-color: hsl(
		var(--hue),
		var(--shadow-sat),
		var(--mid-shadow-light)
	);

	--dark-shadow-color: hsl(
		var(--hue),
		var(--shadow-sat),
		var(--dark-shadow-light)
	);

	--color: hsl(var(--hue), 74%, var(--main-light));

	--shadow: 0 0 var(--blur-r) var(--main-shadow-color),
		0 0 calc(var(--blur-r) * 2) var(--mid-shadow-color),
		0 0 calc(var(--blur-r) * 3) var(--main-shadow-color),
		0 0 calc(var(--blur-r) * 3.5) var(--main-shadow-color),
		0 0 calc(var(--blur-r) * 4) var(--main-shadow-color),
		0 0 calc(var(--blur-r) * 4.5) var(--dark-shadow-color);

	font-size: 10vmin;
	color: var(--color);
	font-family: "Cedarville Cursive", cursive;
	text-shadow: var(--shadow);
}

.line:first-of-type {
	--hue: 40;
}

.line:nth-of-type(2) {
	--hue: 290;
}

.line:nth-of-type(3) {
	--hue: 330;
}

.line:nth-of-type(4) {
	--hue: 185;
}

.well {
	--hue: 360;
	--duration: 6s;
	--delay: calc(var(--duration) / 4);
	animation: flicker var(--duration) infinite;
  animation-delay: calc(var(--i) * calc(var(--duration) / 4));
	animation-timing-function: linear;
}

@keyframes flicker {
	0%,
	10%,
	15%,
	20%,
	24% {
		opacity: 0.9;
		text-shadow: var(--shadow);
	}

	7%,
	12%,
	16%,
	19%,
	25%,
	100% {
		opacity: 0.2;
		text-shadow: none;
	}
}



