.buttonCenter{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 240px;
    height: 80px;
    padding-top: 500px;
}
.neonButton
{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #ce4a40;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 28px;
    overflow: hidden;
    transition: 0.2s;
    justify-content: center;
    font-family: neon;

}
.neonButton:hover
{
    color: #d34339;
    background: #efb3af;
    box-shadow: 0 0 10px #ce4a40, 0 0 40px #ce4a40, 0 0 80px #ce4a40;
    transition-delay: 1s;
}
.neonButton span
{
    position: absolute;
    display: block;
}
.neonButton span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#ce4a40);
}
.neonButton:hover span:nth-child(1)
{
    left: 100%;
    transition: 1s;
} 
.neonButton span:nth-child(2)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#ce4a40);
}
.neonButton:hover span:nth-child(2)
{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.neonButton span:nth-child(3)
{
    top: -100℅;
    right: 0%;
    width: 2px%;
    height: 100%;
    background: linear-gradient(180deg,transparent,#ce4a40);
}
.neonButton:hover span:nth-child(3)
{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.neonButton span:nth-child(4)
{
    bottom: -100℅;
    left: 0%;
    width: 2px%;
    height: 100%;
    background: linear-gradient(360deg,transparent,#ce4a40;
}
.neonButton:hover span:nth-child(4)
{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}