/*.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: auto 100%;
  }*/
.wrapper {
  max-width: 60vh;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

@font-face {
  font-family: neon;
  src: url(hellodenverdisplayregular_v1.6.ttf);
}

.neon-wrapper {
  box-shadow:
    0 0 0.1vw 0.4vw #fff7f7,
    0 0 0.4vw 0.6vw #e97272,
    0 0 4vw 0.4vw #e50b0b,
    inset 0 0 1.5vw 0.4vw #e50b0b,
    inset 0 0 0.4vw 0.2vw #e97272,
    inset 0 0 0.5vw 0.2vw #fff7f7;
  border-radius: 1.5rem;
}

.neon-text {
  font-family: neon;
  font-size: 14vh;
  color: #ffd8d8;
  padding: 0 2vh 0 2vh;
  text-shadow:
    .1vw 0vw .25vw #ffd8d8, .2vw 0vw .25vw #ffd8d8, .4vw 0vw .25vw #ffd8d8,
    .1vw 0vw 0vw #f25757, .2vw 0vw 0vw #f25757, .4vw 0vw 0vw #f25757,
    .1vw 0vw .1vw #f25757, .2vw 0vw .1vw #f25757, .4vw 0vw .1vw #f25757,
    .1vw 0vw 2vw #f25757, .2vw 0vw 2vw #f25757, .4vw 0vw 2vw #f25757,
    .1vw 0vw 1vw #e50b0b, .2vw 0vw 1vw #e50b0b, .4vw 0vw 5vw #e50b0b,
    .1vw 0vw 5vw #e50b0b, .2vw 0vw 20vw #e50b0b, .4vw 0vw 10vw #e50b0b,
    .1vw 0vw 10vw #e50b0b, .2vw 0vw 30vw #e50b0b, .4vw 0vw 10vw #e50b0b;
}

.neon-small-text {
  justify-content: center;
  font-family: neon;
  font-size: 5vh;
  color: #ffd8d8;
  padding: 0 1vh 0 1vh;
  text-shadow:
    .05vw 0vw .25vw #ffd8d8, .1vw 0vw .125vw #ffd8d8, .2vw 0vw .125vw #ffd8d8,
    .05vw 0vw 0vw #f25757, .1vw 0vw 0vw #f25757, .2vw 0vw 0vw #f25757,
    .05vw 0vw .05vw #f25757, .1vw 0vw .05vw #f25757, .2vw 0vw .05vw #f25757,
    .05vw 0vw 1vw #f25757, .1vw 0vw 1vw #f25757, .2vw 0vw 1vw #f25757,
    .05vw 0vw 0.5vw #e50b0b, .1vw 0vw 0.5vw #e50b0b, .2vw 0vw 2.5vw #e50b0b,
    .05vw 0vw 2.5vw #e50b0b, .1vw 0vw 10vw #e50b0b, .2vw 0vw 5vw #e50b0b,
    .05vw 0vw 5vw #e50b0b, .1vw 0vw 15vw #e50b0b, .2vw 0vw 5vw #e50b0b;
}

@media screen and (max-width: 801px) {
  .neon-text {
    font-size: 10vh;
  }

  .wrapper {
    max-width: 60vh;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    padding-right: 5vh;
    padding-left: 5vh;
  }
}
