#myProgress {
  width: 60%;
  background-color: rgba(250, 67, 67, 0.3);
  text-align: center;
  margin: auto;
}

#myBar {
  margin-top: 10vh;
  width: 0%;
  height: 50px;
  text-align: center;
  justify-content: center;
  line-height: 40px;
  color: white;
  font-size: 24px;
}

h2, h5 h4 {
  text-align: center;
}

h5 {
  text-decoration: underline;
}
